{% extends 'base.html' %}

{% block content %}
    <br/>
    <h1>Run a Manual Search</h1>
    <p>This will search a given site right now. If it finds anything, it will text you. </p>
    <br/>
    <h2>Search Parameters</h2>
    <p>Below are the search parameters used in the most recent search.</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <br/>
        {{ form.site.label(class="form-label") }}
        {{ form.site(class="form-control") }}
        <br/>

        {{ form.subdomain.label(class="form-label") }}
        {{ form.subdomain(class="form-control") }}
        <br/>

        {{ form.search_terms.label(class="form-label") }}
        {{ form.search_terms(class="form-control") }}
        <br/>

        {{ form.limit.label(class="form-label") }}
        {{ form.limit(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
<br/><br/>
{% endblock %}